In [7]:
# Map and Filter:

# 1)Use map to double each element in a list of numbers.
# Use filter to select only the odd numbers from a list of integers.

In [4]:
numbers=[1,2,3,4,5,6,7,8,9,10]
odd_numbers=list(filter(lambda x:x%2!=0,numbers))
doubled_numbers=list(map(lambda x: x*2, odd_numbers))
print(doubled_numbers)

[2, 6, 10, 14, 18]

In [6]:
# Pandas:

# 2)Read a CSV file into a pandas DataFrame and display the first few rows.
# Group a DataFrame by a specific column and calculate the average of another column.
# Merge two DataFrames based on a common column.

In [8]:
import pandas as pd

In [13]:
df=pd.read_csv('SGT_task1_gdp_2020.csv')
df.head(5)

   year  rank            Country    state           gdp  gdp_percent
0  2020     1  the United States  America  2.090000e+13     0.270006
1  2020     2              China     Asia  1.470000e+13     0.189870
2  2020     3            Germany   Europe  3.810000e+12     0.049084
3  2020     4     United Kingdom   Europe  2.710000e+12     0.034920
4  2020     5              India     Asia  2.620000e+12     0.033827

In [14]:
grouped_df=df.groupby('Country')['gdp'].mean()
print(grouped_df)

Country
Afghanistan            1.980707e+10
Albania                1.479962e+10
Algeria                1.450000e+11
Angola                 6.230691e+10
Antigua and Barbuda    1.415059e+09
                           ...
Vanuatu                8.547936e+08
Vietnam                2.710000e+11
Zambia                 1.932005e+10
Zimbabwe               1.676851e+10
the United States      2.090000e+13
Name: gdp, Length: 174, dtype: float64

In [20]:
df2=pd.read_csv('SGT_task1_forbes_richman.csv', encoding="ISO-8859-1")
df2.head(5)

,Rank,Name,Net Worth,Age,Country,Source,Industry
0,1,Elon Musk,$219 B,50.0,United States,"Tesla, SpaceX",Automotive
1,2,Jeff Bezos,$171 B,58.0,United States,Amazon,Technology
2,3,Bernard Arnault & family,$158 B,73.0,France,LVMH,Fashion & Retail
3,4,Bill Gates,$129 B,66.0,United States,Microsoft,Technology
4,5,Warren Buffett,$118 B,91.0,United States,Berkshire Hathaway,Finance & Investments

In [22]:
merged_df=pd.merge(df,df2,on='Country')
merged_df.head(5)

,year,rank,Country,state,gdp,gdp_percent,Rank,Name,Net Worth,Age,Source,Industry
0,2020,2,China,Asia,1.470000e+13,0.18987,16,Zhong Shanshan,$65.7 B,67.0,"beverages, pharmaceuticals",Food & Beverage
1,2020,2,China,Asia,1.470000e+13,0.18987,24,Zhang Yiming,$50 B,38.0,TikTok,Media & Entertainment
2,2020,2,China,Asia,1.470000e+13,0.18987,32,Ma Huateng,$37.2 B,50.0,internet media,Technology
3,2020,2,China,Asia,1.470000e+13,0.18987,46,He Xiangjian,$28.3 B,79.0,home appliances,Manufacturing
4,2020,2,China,Asia,1.470000e+13,0.18987,52,William Lei Ding,$25.2 B,50.0,online games,Technology

In [23]:
#Namedtuple:

#3)Define a Person named tuple with fields for name, age, and city. Create instances of Person and access their attributes.

In [24]:
from collections import namedtuple

In [25]:
Person=namedtuple('Person',['name','age','city'])
person1=Person('Jonas',30,'Kaunas')
person2=Person('Elena',45,'Vilnius')
person3=Person('Erika',25,'Klaipeda')

In [28]:
print(person3.age)

25

In [29]:
# Counter:

# 4)Count the frequency of each word in a given text and display the top 5 most common words.

In [30]:
from collections import Counter
import re

In [34]:
def count_words(given_text):
    words= given_text.split()
    word_counts=Counter(words)
    top_words=word_counts.most_common(5)
    for word, count in top_words:
        print(word,':',count)

In [35]:
given_text='This is random text, created to test the function. Dog dog dog dog cat cat cat cat cat cat ball ball ball'

In [36]:
count_words(given_text)

cat : 6
dog : 3
ball : 3
This : 1
is : 1

In [37]:
# Deque:

# 5)Use a deque to implement a queue and perform enqueue and dequeue operations.
# Reverse the order of elements in a deque.

In [2]:
from collections import deque

In [3]:
queue=deque()

In [4]:
queue.append(1)
queue.append(2)
queue.append(3)
queue.append(4)

In [5]:
print(queue.popleft())
print(queue.popleft())
queue.reverse()
print(queue)

1
2
deque([4, 3])

In [6]:
# Defaultdict:

# 6)Create a defaultdict that maps a character to a list of words starting with that character.
# Calculate the sum of values for each key in a dictionary using a defaultdict.

In [7]:
from collections import defaultdict

In [14]:
words_dict=defaultdict(list)
words=['apple','cat','plane','world','weekend','planet','plant']
for word in words:
    words_dict[word[0]].append(word)

print(words_dict)

defaultdict(<class 'list'>, {'a': ['apple'], 'c': ['cat'], 'p': ['plane', 'planet', 'plant'], 'w': ['wprld', 'weekend']})

In [ ]:
# Reduce:

# 7)Use reduce to find the maximum element in a list of numbers.
# Combine a list of strings into a single string using reduce.

In [9]:
from functools import reduce

In [10]:
numbers=[1,2,3,4,5,6,7,8,9,10]
maximum=reduce(lambda x,y:x if y>y else y, numbers)
print(maximum)

10

In [12]:
words=['test',' ','text',':''Hello',' ''World']
combination=reduce(lambda x,y:x+y,words)
print(combination)

test text:Hello World