In [3]:
# Check connection

import mysql.connector
# Establishing a connection to the database
cnx = mysql.connector.connect(user='root',
password='',
host='localhost',
database='myshop')


# Closing the connection
cnx.close()

In [9]:
# Establishing a connection to the database
cnx = mysql.connector.connect(user='root',
password='',
host='localhost',
database='myshop')

# Creating a cursor object
cursor = cnx.cursor()

# Inserting a new row
query = "INSERT INTO categories (name) VALUES (%s, %s, %s)"
values = ('Monitor', 'Mouse', 'Laptop')
cursor.execute(query, values)

# Committing the transaction
cnx.commit()
# Closing the cursor and connection
cursor.close()
cnx.close()

DataError: 1136 (21S01): Column count doesn't match value count at row 1